<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "default_banner_dashboard.jpg" %>'); height: 250px; padding: 40px;">
  <div class="container text-center">
    <h1><%= current_user.first_name %> <%= current_user.last_name %><strong>'s dashboard</strong></h1>
    <p>Have a look at your statistics !</p>
  </div>
</div>

<div class="container text-center mt-2">
  <h1>DATA</h1>
  <p>data incoming</p>
</div>
