<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path("fmhqawhp3t2fxk7j1gja") %>'); height: 250px; padding: 40px">
  <div class="container text-center">
    <h1><strong>Dashboard</strong> de <%= current_user.first_name %> <%= current_user.last_name %></h1>
    <p>Comparez vos statistiques dans le temps et avec vos teams !</p>
  </div>
</div>


 <%# height: 250px, padding: 40px %>
