<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="team1" role="tabpanel" aria-labelledby="team1-tab">
    <div id="chart-<%= id_tab_one %>" style="height: 300px; margin-top: 40px" data-steps="<%= steps_tab_one.to_json %>"></div>
  </div>

  <div class="tab-pane fade" id="team2" role="tabpanel" aria-labelledby="team2-tab">
    <div>
      <p style="height: 400px; font-size: 20px; margin: 70px 70px 0px 70px">Sorry, we haven't configured this data yet with <strong>Google APIs</strong>. Our developers are currently working to make this data available.</p>
    </div>
  </div>

  <div class="tab-pane fade" id="team3" role="tabpanel" aria-labelledby="team3-tab">
    <div>
      <p style="height: 400px; font-size: 20px; margin: 70px 70px 0px 70px">Sorry, we haven't configured this data yet with <strong>Google APIs</strong>. Our developers are currently working to make this data available.</p>
    </div>
  </div>
</div>
