.box-donate {
    border: none;
    text-align: center;
    color: black;
    background-color: white;
    width: 100px;
    margin-top: 23px;
    font-size: 19px;
    font-weight: bold;
    color: #6da8b3;
    text-align: end
}

input#conversion_proposal {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    font-size: 18px;
    color: #6da8b3;
    text-align: center;
    width: 100px;
    font-weight: bold;
}

input#donation_output {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    font-size: 18px;
    color: #6da8b3;
    text-align: center;
    width: 100px;
    font-weight: bold;
}