#charity-button {
  color: rgb(210, 51, 51);
  background-color: rgb(232, 214, 216);
  opacity: 0.8;
  transition: background-color 0.3s ease;
  border-radius: 2px;
  &:hover {
    color: rgb(232, 214, 216);
    background-color: rgb(210, 51, 51);
    opacity: 1;
  }
}

#charity-btn {
  color: #4F4F4F;
  background-color: #FCFCFC;
  opacity: 0.8;
  transition: background-color 0.3s ease;
  border-radius: 2px;
  border: 1px solid #4F4F4F;
  &:hover {
    color: #FCFCFC;
    background-color: #4F4F4F;
    opacity: 1;
    text-decoration: none;
  }
}

#donate-button {
  color: white;
  background-color: $success;
  opacity: 0.8;
  transition: background-color 0.3s ease;
  font-size: 30px;
  border-style: none!important;
  position: relative;
  width: 100%;
  margin-top: 10px;
  height: 50px;
  border-radius: 10px;
  &:hover {
    color: rgb(232, 214, 216);
    background-color:$success;
    opacity: 1;
  }
}

.btn-user-list {
  width: 150px;
}
