// GRANDE CARTE

.card-category {
  background-size: cover;
  background-position: center;
  height: 100%;
  color: white;
  font-size: 24px;
  font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
}

.card-category-input {
  width: 100%;
  align-items: center;
  input {
    flex-grow: 1;
  }
}


// CARD-PARTHENON


.card-trip-statistics {

  padding: 20px 30px;
}

.card-trip {
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: #FDFDFF;
  // opacity: 0.8;
}

// .card-trip > img {
//   opacity: 1;
// }

.card-trip h2 {
  font-weight: bold;
  margin: 0;
  color: white;
}

.card-trip p {
  margin: 0;
  color:black;
}

.card-trip h1 {
  margin: 0;
  color: white;
}

.card-trip h3 {
  margin: 0;
  color: black;
}

.card-trip h5 {
  margin: 0;
  color: white;
}




.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-text {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 50px;
}

// CARD GRID

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}




.card-product {
  overflow: hidden;
  height: 160px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 24px;
  margin-bottom: 16px;

  &.card-product-with-link{
    position: relative;
    a{
      position: absolute;
      bottom: 0;
      top: 0;
      right: 0;
      left: 0;
    }
  }
}

.card-product img {
  height: 100px;
  width: 100px;
  border: solid 2px #167FFB;
}

.card-product.home img {
  border: none;
  flex: 0 0 100px;
  object-fit: contain;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.avatar_bio {
  display: none;
  background-color: white;
  border-radius: 10px;
}
