.shoes {
    position: relative;
    top: 9px;
    left: 0px;
    color: black;
}

.euro {
    position: relative;
    top: 9px;
    left: 6px;
    color: black;
}

.hands {
    position: relative;
    top: 9px;
    left: -1px;
    color: black;
}
