.shoes {
    position: relative;
    top: 32px;
    left: 5px;
    color: $success;
}

.euro {
    position: relative;
    top: 35px;
    left: 18px;
    color: $success;
}

.hands {
    position: relative;
    top: 32px;
    left: 5px;
    color: $success;
}

.p-emoticons {
    position: relative;
    top: 22px;
    right: -16px;
    font-size: 33px;
    color: $success;
}